.friendMessage {
    display: flex;

    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
